@*@model ServiceShop.Models.Service*@
@model ServiceShop.Models.CustomerEmployeeServiceVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.MotherBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.MotherBoard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.MotherBoardPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.MotherBoardPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.VideoCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.VideoCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.VideoCardPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.VideoCardPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.PowerSupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.PowerSupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.PowerSupplyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.PowerSupplyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.Cpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.Cpu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.CpuPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.CpuPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.HardDrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.HardDrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.HardDrivePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.HardDrivePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.Case)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.Case)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.CasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.CasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.Memory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.Memory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.MemoryPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.MemoryPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.Fan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.Fan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.FanPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.FanPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.CpuCooler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.CpuCooler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.CpuCoolerPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.CpuCoolerPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.VirusRemoval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.VirusRemoval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.DataRecovery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.DataRecovery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.InstallOs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.InstallOs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.Labor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.Labor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.WorkOrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.WorkOrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.WorkOrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.WorkOrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.PictureUpload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.PictureUpload)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.service.Id })|
    @Html.ActionLink("Back to List", "Index")
</p>

<label>SubTotal:</label>  $@ViewBag.SubTotal
<br/>
<label>Diagnostics:</label>  $@ViewBag.Diagnostics
<br/>
<label>Taxes:</label>  $@ViewBag.Taxes
<br/>
<label>Final Bill:</label>  $@ViewBag.TotalBill


