@model IEnumerable<ServiceShop.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Our Staff</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.Email != "ua@gmail.com").ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ApplicationUserId)
                </td>*@
        </tr>
    }

</table>
